<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.WeatherApp">

    <dist:module dist:instant="true" />
    <!-- Giving permission to access the Internet to make HTTP Calls-->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="WeatherApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <!-- Activity Intent for Splash Activity-->
        <activity android:name="com.example.WeatherApp.SplashScreenActivity" android:theme="@style/SplashTheme" android:clearTaskOnLaunch="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activity Intent for Main Activity-->
        <activity android:name="com.example.WeatherApp.MainActivity">

        </activity>

        <!-- Activity Intent for Detailed Activity-->
        <activity android:name="com.example.WeatherApp.DetailedWeather">

        </activity>


    </application>

</manifest>